<section ng-controller="PeopleController">
	<div class="row">
		<div class="col-lg-7">
			<form role="form">
			  <div class="form-group">
			    <input name="id" type="hidden" class="form-control" ng-model="person.id">
			  </div>
			  <div class="form-group">
			    <label for="firstName">First Name:</label>
			    <input name="firstName" type="text" class="form-control" ng-model="person.firstName">
			  </div>
			  <div class="form-group">
			    <label for="lastName">Last Name:</label>
			    <input name="lastName" type="text" class="form-control" ng-model="person.lastName">
				</div>
				<div class="form-group">
			    <label for="email">Email:</label>
			    <input name="email" type="text" class="form-control" ng-model="person.email">
				</div>
				<div class="form-group">
			    <label for="address">Adress:</label>
			    <input name="address" type="text" class="form-control" ng-model="person.address">
				</div>
				<div class="form-group">
			    <input name="createdDate" type="hidden" class="form-control" ng-model="person.createdDate">
				</div>
			  <button type="button" class="btn btn-success" ng-click="savePerson()">Guardar</button>
			  <button type="button" class="btn btn-primary" ng-click="clear()">New</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<table class="table">
				<thead>
					<tr>
						<td>
							<a href="" ng-click="predicate = 'id'; reverse=!reverse">Id </a>  
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'id'"></span>
						</td>
						<td>
							<a href="" ng-click="predicate = 'firstName'; reverse=!reverse"> First Name</a>
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'firstName'"></span>
						</td>
						<td>
							<a href="" ng-click="predicate = 'lastName'; reverse=!reverse"> Last Name </a>
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'lastName'"></span>
						</td>
						<td>
							<a href="" ng-click="predicate = 'email'; reverse=!reverse"> Email </a>
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'email'"></span>
						</td>
						<td>
							<a href="" ng-click="predicate = 'address'; reverse=!reverse"> Address </a>
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'address'"></span>
						</td>
						<td>
							<a href="" ng-click="predicate = 'createdDate'; reverse=!reverse"> Created Date </a>
							<span class="glyphicon glyphicon-sort" ng-show="predicate == 'createdDate'"></span>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people | orderBy:predicate:reverse" ng-class="{active : $index % 2 != 0}">
						<td>{{ person.id }}</td>
						<td>{{ person.firstName }}</td>
						<td>{{ person.lastName }}</td>
						<td>{{ person.email }}</td>
						<td>{{ person.address }}</td>
						<td>{{ person.createdDate | date:'medium' }}</td>
						<td>
							<button type="button" class="glyphicon glyphicon-pencil btn btn-primary" ng-click="loadPerson(person.id)">Editar</button>
							<button type="button" class="glyphicon glyphicon-remove btn btn-danger" ng-click="deletePerson(person.id)">Eliminar</button>
						</td>
					</tr>
		</table>
		</div>
	</div>
</section>